<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.editorItems">
      <choiceAttribute
            class="ch.ethz.eventb.qualprob.ui.manipulation.ProbabilisticAttributeManipulation"
            expandsHorizontally="false"
            id="fr.systerel.rodinextension.sample.ui.probabilistic"
            required="true"
            typeId="fr.systerel.rodinextension.sample.probabilistic">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.event">
         <attributeReference
               descriptionId="fr.systerel.rodinextension.sample.ui.probabilistic">
         </attributeReference>
      </attributeRelation>
      <element
            defaultColumn="0"
            imagePath="icons/boundIcon.gif"
            prefix="BOUND"
            prettyPrinter="ch.ethz.eventb.qualprob.ui.prettyprinter.BoundPrettyPrinter"
            typeId="fr.systerel.rodinextension.sample.bound">
      </element>
      <attributeRelation
            elementTypeId="fr.systerel.rodinextension.sample.bound">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.expression">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <childRelation
            parentTypeId="org.eventb.core.machineFile">
         <childType
               priority="65"
               typeId="fr.systerel.rodinextension.sample.bound">
         </childType>
      </childRelation>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="fr.systerel.explorer.navigator.content.event"
            contentProvider="ch.ethz.eventb.qualprob.ui.navigator.contentProviders.BoundContentProvider"
            id="fr.systerel.rodinextension.sample.ui.boundContent"
            labelProvider="ch.ethz.eventb.qualprob.ui.navigator.labelProviders.BoundLabelProvider"
            name="Bound Element"
            priority="lower">
         <triggerPoints>
            <instanceof
                  value="org.eventb.core.IMachineRoot">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="fr.systerel.rodinextension.sample.basis.IBound">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         id="fr.systerel.explorer.navigator.view"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="fr.systerel.rodinextension.sample.ui.boundContent">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>

</plugin>
